@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .masonry {
    column-gap: 2;
    column-count: 1;
  }
  .masonry-sm {
    column-gap: 4;
    column-count: 2;
  }
  .masonry-md {
    column-gap: 4;
    column-count: 3;
  }
  .break-inside {
    break-inside: avoid;
  }
}

@layer components {
  .cardHover {
    @apply hover:bg-merah-50 duration-100    hover:divide-merah-200  transition hover:ring-merah-200     dark:hover:bg-gelap-800    dark:hover:divide-gelap-700  dark:hover:ring-gelap-700;
  }
  .headline {
    @apply text-balance mb-4 md:mb-6 py-2 md:text-4xl  text-3xl font-bold;
  }
  .subheadline {
    @apply mt-3 mb-6 text-center max-w-3xl text-lg md:text-2xl tracking-wide m-0 p-0 text-merah-950 dark:text-kuning mx-auto;
  }
}

@layer base {
  html {
    @apply text-[18px]  scroll-smooth;
  }
  body {
    @apply bg-slate-50 text-slate-100 dark:bg-gelap-900 dark:text-slate-100;
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%239C92AC' fill-opacity='0.3' fill-rule='evenodd'%3E%3Ccircle cx='3' cy='3' r='0.8'/%3E%3Ccircle cx='13' cy='13' r='0.8'/%3E%3C/g%3E%3C/svg%3E");

  }

  
  h1,
  h2,
  h3,
  h4,
  h5 {
    @apply font-title  font-bold  text-merah-600 dark:text-slate-300 tracking-tight text-balance;
  }
}

.page-enter-active,
.page-leave-active {
  transition: all 0.2s;
}
/* create a smooth beautifal fade in keyframe animation */
.page-enter-from,
.page-leave-to {
  opacity: 0;
  transform: translateY(1rem);
}